* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
    transition: 0.3s;
}

header {
    background: #512da8;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

#themeBtn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero {
    background: linear-gradient(to right, #673ab7, #9575cd);
    color: white;
    text-align: center;
    padding: 50px;
}

.card {
    background: white;
    margin: 30px auto;
    padding: 25px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
}

.project-card {
    background: #ede7f6;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #512da8;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background: #512da8;
    color: white;
    text-align: center;
    padding: 15px;
}

/* DARK MODE */
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background: #1e1e1e;
}

.dark-mode .card {
    background: #1f1f1f;
}
