* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}

/* HEADER */
header {
    background: #5a189a;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

#themeBtn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* HERO */
.hero {
    padding: 50px;
    text-align: center;
    background: linear-gradient(to right, #7b2cbf, #9d4edd);
    color: white;
}

/* CARD */
.card {
    background: white;
    margin: 30px auto;
    padding: 25px;
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* PROFILE */
.profile-pic {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
}

/* PROJECTS */
.project-card {
    background: #ede7f6;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

/* SKILLS */
.skills {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skills li {
    background: #5a189a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}

/* FORM */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

button {
    background: #5a189a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== DARK MODE ===== */
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background: #1f1f1f;
}

.dark-mode .card {
    background: #1e1e1e;
}

.dark-mode .project-card {
    background: #2a2a2a;
}

.dark-mode .skills li {
    background: #bb86fc;
}



